[Unit]
Description=Kubectl Port Forward 8443
Wants=network-online.target
After=network-online.target

[Service]
User=vagrant
Group=vagrant
Type=simple
ExecStart=/bin/bash -c "kubectl port-forward service/rancher -n cattle-system --address 192.168.56.201 8443:443"
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
